name: CI_PIPELINE

on: 
  push:
  branches: [main] 

jobs: 
  build: 
    runs-on: ubuntu-latest 


    steps: 
      - name: Checkout code
        uses: actions/cgeckout@v5

      - name: Set up Node.jobs
        uses: actions/setup-node@v3
        with: 
          node-version: 16

      - name: Install dependencies
        run: npm Install

      - name: Run tests
        run: npm tests
